* {
    font-size: 14px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.observacion,
th.observacion {
    width: 75px;
    max-width: 75px;
    text-align: center;
    align-content: center;
    word-break: break-all;

}
td.codigo,
th.codigo {
    width: 35px;
    max-width: 35px;
    text-align: center;
    align-content: center;
    word-break: break-all;
}

td.cantidad,
th.cantidad {
    width: 35px;
    max-width: 35px;
    text-align: center;
    align-content: center;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    text-align: center;
    align-content: center;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 189px;
    max-width: 189px;
}

img {
    max-width: inherit;
    width: inherit;
}
